body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
  
    font-family: 'Roboto_Medium';
  }
  
  * {
    box-sizing: border-box;
  }

//   .mob_hidden {
//     display: block;
//     @include responsive_mobile() {
//       display: none;
//     }
//   }
  
//   .tab_hidden {
//     display: block;
//     @include responsive_tab() {
//       display: none;
//     }
//   }
  