@import 'assets/fonts';

:root {
  --color: white;
  --ff-primary: Monserat; 
}


$bg-color: rgb(86, 107, 82);

body {
  background: $bg-color;
  color: var(--color);
  font-size: 1.2em;
  font-family: var(--ff-primary);
}

img {
  display: block;
  max-width: 100%;
  width: 50vw;
}

.hero {
  // background: url(../assets/girl.png);
  background-position: center;
  background-size: contain;
  height: 300px;
  width: 100%;
  display: flex;
  // flex-direction: column;
}
#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

h1,
h2,
h3 {
  font-family: Helvetica-Bold;
  letter-spacing: -1.5px;
  color: #898989;
  margin: 2px 1px;
}
#sky {
  overflow: hidden;
  border: solid 0.5px #f2f2f2;
  background: linear-gradient(
    0deg,
    #f2eefc,
    #e4ddfa,
    #d7ccf7,
    #cabbf4,
    #bcabf2,
    #af9aef,
    #ffffff
  );
  background-size: 1400% 1400%;
  animation: sky 19s ease infinite;
}
@keyframes sky {
  0% {
    background-position: 0% 13%;
  }
  50% {
    background-position: 100% 88%;
  }
  100% {
    background-position: 0% 13%;
  }
}

